battlescreen {
	display:block;
	position:absolute;
	width:1100px;
	height:800px;
	background: #bbb;
	margin-left:10px;
	margin-right:10px;
	resize:none;
}
.toptable {
	background: #87CEFA;
	border-bottom:2px;
	border-top:2px;
	border-left:2px;
	border-right:2px;
	border-color:black;
	border-style:solid;
	width:100%;
	height:200px;
}
.middletable {
	background: #87CEFA url(img/battledeck-bg.jpg);
	border-bottom:2px;
	border-top:2px;
	border-left:2px;
	border-right:2px;
	border-color:black;
	border-style:solid;
	width:100%;
	height:400px;
}
.bottomtable{
	background: #87CEFA;
	border-bottom:2px;
	border-top:2px;
	border-left:2px;
	border-right:2px;
	border-color:black;
	border-style:solid;
	width:100%;
	height:200px;
}
.menutable{
	background: url(img/menutable-bg.jpg);
	border-bottom:2px;
	border-top:2px;
	border-left:2px;
	border-right:2px;
	border-color:black;
	border-style:solid;
	width:100%;
	height:20px;
	color:#fff;
}
#bottomdeck{
	width:100%;
	height:100%;
	border:2px solid black;
	padding:0px;
	margin:0px;
}
#belt{
	background: #1E90FF;
	width:70%;
	height:100%;
	border:1px solid black;
	margin-bottom: 8px;
}
#belt td{
	border:1px solid black;
}
playeravatar {
	display:block;
	width:140px;
	height:180px;
	background: #fff;
	position:static;
	border:4px solid black;
	overflow:hidden;
	text-overflow:clip;
	padding: 0px 2px;
}
battledeck {
	display:block;
	position:absolute;
	top:200px;
	width:1000px;
	height:600px;
	background:;
	margin-left:10px;
	margin-right:10px;
	resize:none;
}

.playername {
	background-color: #000;
	color: #fff;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	overflow:hidden;
	text-overflow:clip;
}
.lvl {
	vertical-align: bottom;
	background-color: #FF8C00;
	color: #00008B;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bolder;
	text-align: left;
}
.atktext{
	font-family: Verdana;
	font-size: 14px;
	font-weight: bolder;
	text-align: left;
	color: #FF0000;	
}
.deftext{
	font-family: Verdana;
	font-size: 14px;
	font-weight: bolder;
	text-align: left;
	color: #0000CD;
}

.playerpic{
	width:90px;
	height:100px;
	position:relative;
}
.avatar{
	width:40px;
	height:60px;
}
#full_deck {
  margin: 0 auto;
  padding: 2px;
  height: 100px;
  width: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.player_deck{
	width:100%;
	background: #DAA520;

}
.player_deck li {
  float: left;
}
.player_deck ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	display:block;
	overflow:auto;
	height:100%;
}
.bd_connected {
	width: 600px;
}
.bd_connected ul{
	list-style-type: none;
	margin: 0 0 0 100px;
	padding: 0;
	display:block;
	overflow: hidden;
	height: 100%;
	border:1px solid black;
	cursor:default;
}
.bd_connected li {
	float:left;
}
.bar {
  width:128px;
  height:12px;
  position: relative;
  background: #808080;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 2px;
  margin:0px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.bar > span.blue {
  display: block;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding:0px;
  margin:0px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,83,194)), color-stop(1, rgb(84,84,240)));
  background-image: -webkit-linear-gradient( center bottom, rgb(43,83,194) 37%, rgb(84,84,240) 69%);
  background-image: -moz-linear-gradient( center bottom, rgb(43,83,194) 37%, rgb(84,84,240) 69%);
  background-image: -ms-linear-gradient( center bottom, rgb(43,83,194) 37%, rgb(84,84,240) 69%);
  background-image: -o-linear-gradient( center bottom, rgb(43,83,194) 37%, rgb(84,84,240) 69%);
  -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  text-align:right;
  overflow: none;
  width:0%;
  font-family: Georgia, fantasy;
  font-weight:bolder;
}
.bar > span.red {
  display: block;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(194,43,83)), color-stop(1, rgb(240,84,84)));
  background-image: -webkit-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(240,84,84) 69%);
  background-image: -moz-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(240,84,84) 69%);
  background-image: -ms-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(240,84,84) 69%);
  background-image: -o-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(240,84,84) 69%);
  box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  text-align:right;
  overflow: none;
  width:0%;
  font-family: Georgia, fantasy;
  font-weight:bolder;
  box-sizing: content-box;
}

#player_turn {
  position:relative;
  font-size: 72px;
  color: #fff;
  opacity: 0.5;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor:default;
  text-align:center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}
#overlay2 {
    position: fixed;
    top: 400px;
    left: 300px;
    display: none;
    width: 600px;
    height: 100px;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: hidden;
}
#overlay3 {
	position:fixed;
	min-width:150px;
	min-height:200px;
	margin:10px;
	display:block;
	padding:auto;
	overflow:hidden;
	font-size:18px;
	text-align:left;
	border:4px solid black;
	border-radius:10px;
	background-color: #dfdfdf;
}
.tooltip{
	position:relative;
	top: -20px;
	left: 0px;
	width:auto;
	height:auto;
	display:block;
	padding:auto;
	overflow:hidden;
	font-size:12px;
	text-align:center;
	z-index:999;
}

.popup {
    top: 5%;
    left: 0;
    right: 0;       
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #fefefe;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
button .close{
	font-size:12px;
	border:2px solid black;
	background: #00FFFF;
}
.t2{
	font-size:8px;
	color:black;
	font-family:Georgia monospace;
	font-weight:bold;
}
.invisible{
	visibility: hidden;
}
/* card binding */
.card {
	width: 60px;
	height: 100px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
	padding: 0px;
	list-style-type: none;
	font-size:16px;
	background-image: url('img/cards_atlas.jpg');
	background-repeat: no-repeat;
	border:2px solid black;
	margin:-10px -20px;
}
.card_suit {
  background: url(img/suit.jpg);
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* card atlas */
.hearts13 {  
  background-position: -65px -65px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds13 {
  height:150px;
  width:110px;
  background-position: -245px -65px;
  transform: scale(0.6);
}
.spades13 {
  height:150px;
  width:110px;
  background-position: -425px -65px;
  transform: scale(0.6);
}
.cross13 {
  height:150px;
  width:110px;
  background-position: -605px -65px;
  transform: scale(0.6);
}
.hearts1 {  
  background-position: -65px -265px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds1 {
  height:150px;
  width:110px;
  background-position: -245px -265px;
  transform: scale(0.6);
}
.spades1 {
  height:150px;
  width:110px;
  background-position: -425px -265px;
  transform: scale(0.6);
}
.cross1 {
  height:150px;
  width:110px;
  background-position: -605px -265px;
  transform: scale(0.6);
}
.hearts2 {  
  background-position: -65px -465px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds2 {
  height:150px;
  width:110px;
  background-position: -245px -465px;
  transform: scale(0.6);
}
.spades2 {
  height:150px;
  width:110px;
  background-position: -425px -465px;
  transform: scale(0.6);
}
.cross2 {
  height:150px;
  width:110px;
  background-position: -605px -465px;
  transform: scale(0.6);
}
.hearts3 {  
  background-position: -65px -680px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds3 {
  height:150px;
  width:110px;
  background-position: -245px -680px;
  transform: scale(0.6);
}
.spades3 {
  height:150px;
  width:110px;
  background-position: -425px -680px;
  transform: scale(0.6);
}
.cross3 {
  height:150px;
  width:110px;
  background-position: -605px -680px;
  transform: scale(0.6);
}
.hearts4 {  
  background-position: -65px -885px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds4 {
  height:150px;
  width:110px;
  background-position: -245px -885px;
  transform: scale(0.6);
}
.spades4 {
  height:150px;
  width:110px;
  background-position: -425px -885px;
  transform: scale(0.6);
}
.cross4 {
  height:150px;
  width:110px;
  background-position: -605px -885px;
  transform: scale(0.6);
}
.hearts5 {  
  background-position: -765px -65px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds5 {
  height:150px;
  width:110px;
  background-position: -948px -65px;
  transform: scale(0.6);
}
.spades5 {
  height:150px;
  width:110px;
  background-position: -1128px -65px;
  transform: scale(0.6);
}
.cross5 {
  height:150px;
  width:110px;
  background-position: -1310px -65px;
  transform: scale(0.6);
}
.hearts6 {  
  background-position: -765px -265px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds6 {
  height:150px;
  width:110px;
  background-position: -948px -265px;
  transform: scale(0.6);
}
.spades6 {
  height:150px;
  width:110px;
  background-position: -1128px -265px;
  transform: scale(0.6);
}
.cross6 {
  height:150px;
  width:110px;
  background-position: -1310px -265px;
  transform: scale(0.6);
}
.hearts7 {  
  background-position: -765px -465px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds7 {
  height:150px;
  width:110px;
  background-position: -948px -465px;
  transform: scale(0.6);
}
.spades7 {
  height:150px;
  width:110px;
  background-position: -1128px -465px;
  transform: scale(0.6);
}
.cross7 {
  height:150px;
  width:110px;
  background-position: -1310px -465px;
  transform: scale(0.6);
}
.hearts8 {  
  background-position: -765px -675px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds8 {
  height:150px;
  width:110px;
  background-position: -948px -675px;
  transform: scale(0.6);
}
.spades8 {
  height:150px;
  width:110px;
  background-position: -1128px -675px;
  transform: scale(0.6);
}
.cross8 {
  height:150px;
  width:110px;
  background-position: -1310px -675px;
  transform: scale(0.6);
}
.hearts9 {  
  background-position: -765px -880px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds9 {
  height:150px;
  width:110px;
  background-position: -948px -880px;
  transform: scale(0.6);
}
.spades9 {
  height:150px;
  width:110px;
  background-position: -1128px -880px;
  transform: scale(0.6);
}
.cross9 {
  height:150px;
  width:110px;
  background-position: -1310px -880px;
  transform: scale(0.6);
}
.hearts10 {  
  background-position: -65px -1090px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds10 {
  height:150px;
  width:110px;
  background-position: -245px -1090px;
  transform: scale(0.6);
}
.spades10 {
  height:150px;
  width:110px;
  background-position: -425px -1090px;
  transform: scale(0.6);
}
.cross10 {
  height:150px;
  width:110px;
  background-position: -605px -1090px;
  transform: scale(0.6);
}
.hearts11 {  
  background-position: -775px -1090px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds11 {
  height:150px;
  width:110px;
  background-position: -955px -1090px;
  transform: scale(0.6);
}
.spades11 {
  height:150px;
  width:110px;
  background-position: -1135px -1090px;
  transform: scale(0.6);
}
.cross11 {
  height:150px;
  width:110px;
  background-position: -1320px -1090px;
  transform: scale(0.6);
}
.hearts12 {  
  background-position: -65px -1285px;
  height:150px;
  width:110px;
  transform: scale(0.6);
}
.diamonds12 {
  height:150px;
  width:110px;
  background-position: -245px -1285px;
  transform: scale(0.6);
}
.spades12 {
  height:150px;
  width:110px;
  background-position: -425px -1285px;
  transform: scale(0.6);
}
.cross12 {
  height:150px;
  width:110px;
  background-position: -605px -1285px;
  transform: scale(0.6);
}

